# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mathias\OneDrive - HTL Wels\Schule\3BHIT\Softwareentwicklung\UE4_GitHub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
